@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*  height: 100%; */
    min-height: 100%;
    width: 100%;
    font-family: 'Kumbh Sans', sans-serif;
    color: hsl(238, 29%, 16%);
}

.container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-height: 100%;
    width: 100%;
    background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%))
    
}

.logo__container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 3rem;
    bottom: 0px;
    max-width: 16rem;
    max-height: 12rem;
    width: auto;
    height: auto;
}

.image__box {
    display: flex;
    justify-content: center;
}

.image1 {
    position: relative;
    height: 100%;
    width: 100%;
}

.image2 {
    position: absolute;
    top: 7rem;
}

.faq__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 10rem 1rem 5rem 1rem;
    border-radius: 1.5rem;
    background: #f5f5f5;
    padding: 9rem 1rem;
    max-width: 30rem;
}

.faq__container h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.question__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-bottom: 1px solid hsl(240, 5%, 91%);
    
}

.question__box {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    font-size: 0.9rem;
    color: hsl(240, 6%, 50%);
    
}

.icon {
    
}

.answer__box {
    padding: 0rem 2rem 1rem 1rem;
    font-size: 0.8rem;
    color: hsl(240, 6%, 50%)
}

/* width > 1024 -------------------------- */ 
@media (min-width: 1024px) {
    body {
        height: 100vh;
        width: 100vw;
    }

    .container {
        max-width: 1440px;
        height: 900px;
        min-height: 900px;
    }

    .logo__container {

    }

    .image__box {

    }

    .faq__container {

    }
}