@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*  height: 100%; */
    min-height: 100%;
    width: 100%;
    font-family: 'Kumbh Sans', sans-serif;
    color: hsl(238, 29%, 16%);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-height: 100vh;
    width: 100%;
    padding: 10rem 1rem;
    background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%))
    
}

.content__container {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 1.5rem;
    background: #f5f5f5;
    /* padding: 9rem 1rem 3rem 1rem; */
    /* max-width: 30rem; */
    min-width: 21rem;
    height: 40rem;
    max-height: 50rem;
    /* min-height: 33rem; testando height para sign up */
}

.logo__container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: -7rem;
    bottom: 0px;
    max-width: 16rem;
    max-height: 12rem;
    width: auto;
    height: auto;
    z-index: 99;
}

.image__box {
    display: flex;
    justify-content: center;
}

.image1 {
    position: absolute;
    height: 100%;
    width: 100%;
}

.image2 {
    position: relative;
    top: 7rem;
    left: 0rem;
}

.flipCard { 
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* ---flip paremeters--- */
    position: absolute;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
}

/* .flipCard:hover {
    transform: rotateY(180deg);
} */

/* -------------- FAQ card config -----------------------*/

.faq__box {
    /* display: flex; VOLTAR DEPOIS QUE CONFIGURAR PAGINA DE SIGN UP */
    display: none;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    min-height: 100%;
    max-height: 50rem;
    padding: 8rem 1rem;
    /* ---flip paremeters--- */
    overflow: hidden;
    background: #f5f5f5;
    position: absolute;
    backface-visibility: hidden;
}

.faq__header {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.faq__body {
    width: 100%;
}

.question__container {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid hsl(240, 5%, 91%);
    /* background: #f5f5f5; */
    transition: all 0.5s ease;
}

.question__container:hover {
    background: #d1d0d0;
}

.question__box {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding: 1rem 0;
    font-size: 0.9rem;
    font-weight: 400;
    color: hsl(240, 6%, 50%);
}

.icon {
    rotate: 0deg;
}

.answer__box {
    overflow: hidden;
    height: 0;
    margin-right: 2rem;
    line-height: 1.2rem;
    font-size: 0.8rem;
    color: hsl(240, 6%, 50%);
    transition: all 0.5s ease;
}

.active {
    
}

/*--------------- Sign Up card config --------------------*/

.signUp__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1.5rem;
    height: 100%;
    width: 100%;
    /* min-height: 100%;
    max-height: 50rem; */
    padding: 8rem 1rem;
    /* ---flip paremeters--- */
    backface-visibility: hidden;
    overflow: hidden;
    position: absolute;
    background: #b9b3b3;
    /* transform: rotateY(180deg); */
}

.form__header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__header h2 {
    margin: 0 0 2rem 0;
    border: 2px solid purple;
    padding: 1rem 3rem;
    background: #f5f5f5;
}

.form__header span {

}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input__box {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.inputarea {
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 0.5rem;
    border: solid 1px hsla(255, 2%, 64%, 0.253);
    margin: 0.5rem auto;
    position: relative;
}

.inputarea:focus {
    outline: none;
    border: solid 1px hsl(246, 23%, 48%);
}

.icon {
    display: none;
    position: absolute;
}

.icon.display__icon {
    position: absolute;
    display: block;
    top: 33%;
    right: 3%;
}

.error {
    display: none;
    align-self: flex-end;
    text-align: end;
    font-size: 0.7rem;
    font-weight: 400;
    color: hsl(0deg 100% 52% / 55%);
}

.error.display__error{
    display: block;
}

.submit__button {
    background: hsl(154, 59%, 51%);
    width: 100%;
    font-size: 1rem;
    font-weight: 600;
    color: #f5f5f5;
    padding: 1rem;
    margin: 1rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.5s ease;
}

.submit__button:hover {
    background: hsl(154, 59%, 66%);
}

.submit__button:active {
    background: hsl(154, 59%, 46%);
}


/* width > 1024 -------------------------- */ 
@media (min-width: 1024px) {
    .content__container {
        /* justify-content: center; */
        align-items: flex-end;
        max-height: 50rem;
        min-height: 33rem;
        max-width: 50rem;
        min-width: 50rem;
        width: 50rem;
        padding: 0rem 0rem 0rem 0rem;
    }

    .logo__container {
        top:8.5rem;
        left: 0rem;
        width: 25rem;
        max-width: 33rem;
    }

    .image1 {
        position: relative;
        top: -3rem;
        left: -6rem;
        width: 24rem;
    }
    

    .image2 {
        position: absolute;
        top: 3.8rem;
        left: -4rem;
        width: 9rem;
    }

    .flipCard {
        width: 50%;
    }

    /* -------------- FAQ card config -----------------------*/

    .faq__box {
        padding: 0 4rem 0 0;
        min-height: 100%;
        max-height: 50%;
    }

    .faq__header {
        /* padding: 0 10rem 0 10rem; */
        margin-bottom: 2rem;
        margin-top: 5rem;
    }

    .question__container {
        width: 100%;
    }

    .question__box {
        padding: 1rem 0rem 1rem 0;
    }

    .answer__box {
        margin-right: 1rem;
    }

    /*--------------- Sign Up card config --------------------*/
    .signUp__box {

    }

    .form__header {

    }
    
    .form__header h2 {
    
    }
    
    .form__header span {
    
    }
    
    .form {
    
    }
    
    .input__box {
    
    }
    
    .inputarea {
    
    }
    
    .icon {
    
    }
    
    .error {
    
    }
    
    .sumbit__button {
    
    }

}

/* width > 1270 -------------------------- */
@media (min-width: 1270px) {
    body {
        min-height: 100vh;
        height: 100%;
        width: 100vw;
    }

    .container {
        max-width: 1440px;
        height: 900px;
        min-height: 900px;
    }

    .content__container {
        /* justify-content: flex-start; */
        max-height: 50rem;
        min-height: 33rem;
        max-width: 60rem;
        width: 100%;
        /* padding: 5rem 4rem 4rem 4rem; */
    }

    .logo__container {
        top:18rem;
        left: 0rem;
        width: 33rem;
        height: 16rem;
        max-width: 33rem;
    }

    .image1 {
        position: relative;
        top: -13rem;
        left: -9rem;
        width: 30rem;
    }
    
    .image2 {
        position: absolute;
        top: -4.4rem;
        left: -6rem;
        width: 11.5rem;
    }

    .flipCard {
        width: 50%;
    }

    /* -------------- FAQ card config -----------------------*/

    .faq__box {
        align-items: flex-start;
        max-height: 50%;
        min-height: 100%;
        padding: 5rem 8rem 0 0;
    }

    .faq__header {
        margin: 0 0 3rem 0;
    }

    .answer__box {
        margin-right: 1rem;
    }

    /*--------------- Sign Up card config --------------------*/
    .signUp__box {

    }

    .form__header {

    }
    
    .form__header h2 {
    
    }
    
    .form__header span {
    
    }
    
    .form {
    
    }
    
    .input__box {
    
    }
    
    .inputarea {
    
    }
    
    .icon {
    
    }
    
    .error {
    
    }
    
    .sumbit__button {
    
    }

}

