@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*  height: 100%; */
    min-height: 100%;
    width: 100%;
    font-family: 'Kumbh Sans', sans-serif;
    color: hsl(238, 29%, 16%);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-height: 100vh;
    width: 100%;
    padding: 10rem 1rem;
    background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%))
    
}

.faq__container {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 1.5rem;
    background: #f5f5f5;
    padding: 9rem 1rem 3rem 1rem;
    max-width: 30rem;
    min-width: 21rem;
}

.logo__container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: -7rem;
    bottom: 0px;
    max-width: 16rem;
    max-height: 12rem;
    width: auto;
    height: auto;
}

.image__box {
    display: flex;
    justify-content: center;
}

.image1 {
    position: absolute;
    height: 100%;
    width: 100%;
}

.image2 {
    position: relative;
    top: 7rem;
    left: 0rem;
}

.faq__box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.faq__header {

}

.faq__container h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.faq__body {
    width: 20rem;
    padding: 0 1rem;
}

.question__container {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid hsl(240, 5%, 91%);
    
}

.question__box {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding: 1rem 0;
    font-size: 0.9rem;
    color: hsl(240, 6%, 50%);
    
}

.icon {
    
}

.iconActive {
    rotate: 180deg;
}

.answer__box {
    display: none;
    margin-right: 1rem;
    line-height: 1.2rem;
    padding: 0rem 0rem 1rem 0rem;
    font-size: 0.8rem;
    color: hsl(240, 6%, 50%)
}

.active {
    display: block;
}

/* width > 1024 -------------------------- */ 
@media (min-width: 1024px) {
    .container {
        
    }

    .faq__container {
        justify-content: center;
        align-items: flex-end;
        max-height: 50rem;
        max-width: 50rem;
        min-width: 50rem;
        width: 50rem;
        padding: 0rem 4rem 0rem 4rem;
    }

    .logo__container {
        top:8.5rem;
        left: 0rem;
        width: 25rem;
        max-width: 33rem;
    }

    .image1 {
        position: relative;
        top: -3rem;
        left: -6rem;
        width: 24rem;
    }
    

    .image2 {
        position: absolute;
        top: 3.8rem;
        left: -4rem;
        width: 9rem;
    }

    .faq__box {
        align-items: flex-end;
        width: 100%;
        height: 100%;
        max-height: 50rem;
        min-height: 100%;
        margin: 0 0 5rem 0;
    }

    .faq__header {
        padding: 0 10rem 0 10rem;
        margin-bottom: 2rem;
        margin-top: 5rem;
    }

    .faq__header h1 {

    }

    .faq__body {
        padding: 0 0 0 3rem;
        width: 24rem;
    }

    .question__container {
        width: 24rem;
    }

    .question__box {
        padding: 1rem 2.5rem 1rem 0;
    }

    .answer__box {
        padding: 0 2rem 0 0;
    }

}

/* width > 1270 -------------------------- */
@media (min-width: 1270px) {
    body {
        min-height: 100vh;
        height: 100%;
        width: 100vw;
    }

    .container {
        max-width: 1440px;
        height: 900px;
        min-height: 900px;
    }

    .faq__container {
        justify-content: flex-start;
        max-height: 50rem;
        min-height: 33rem;
        max-width: 60rem;
        width: 100%;
        padding: 5rem 4rem 4rem 4rem;
    }

    .logo__container {
        top:18rem;
        left: 0rem;
        width: 33rem;
        height: 16rem;
        max-width: 33rem;
    }

    .image1 {
        position: relative;
        top: -13rem;
        left: -9rem;
        width: 30rem;
    }
    

    .image2 {
        position: absolute;
        top: -4.4rem;
        left: -6rem;
        width: 11.5rem;
    }

    .faq__box {
        justify-content: flex-start;
        margin: 0;
    }

    .faq__header {
        width: 60%;
        padding: 0 0 0 6rem;
        margin: 0 0 1rem 1rem;
    }

    .faq__header h1 {

    }

    .faq__body {
        margin-right: 4rem;
    }

    .question__container {

    }

    .question__box {

    }

    .answer__box {

    }
}

